#loginForm.form-horizontal.tasi-form .form-group { padding-bottom:0px; border-bottom:none; }
#loginForm.form-signin input[type="text"], .form-signin input[type="password"] { margin-bottom:0px; }
#forgotForm.form-horizontal.tasi-form .form-group { padding-bottom:0px; border-bottom:none; }
#forgotForm.form-signin input[type="text"], .form-signin input[type="password"] { margin-bottom:0px; }

.commonForm select { padding:5px !important; font-size:13px !important; }
.commonForm.form-horizontal.tasi-form .form-group { padding-bottom:0px; border-bottom:none; }
.commonForm.form-horizontal input[type="text"], .form-signin input[type="password"] { margin-bottom:0px; }
.commonForm.form-horizontal .agree { float: left; margin-top: -14px; }

.hide{display:none}
.show{display:block}
.red{color:#b94a48 !important;}
.btn-cust{width:auto !important;  }
.state-overview .symbol-btn{
	width:100%;
	border-radius:4px;
}
.symbol.symbol-btn > div {
    color: #fff;
    font-size: 17.5px;
}

ul.pagination > li > a.active{background-color : #eee ;}
.top-nav .profile-pic{width:29px ; height:29px;}
.form-group .perPage{width:120px;}
.notofication_div{  word-wrap: break-word; white-space: normal;}
.notofication_span{float: left; margin-right: 10px;}
.dropdown-menu{   font-size: 13px;}
.no-noti{text-align:center;}
.margin0{margin:0 !important;}
.my-col-lg{width: 20% !important;}
.my-span-head{ font-size:30px;}
.my-lead-head-btn{ width:20%;}
#distForm .tooltip-inner, #addLead .tooltip-inner, #addDistributor .tooltip-inner, form .phone-tooltip .tooltip-inner{
    min-width:auto !important;
	width: 250px !important;
	white-space:pre-wrap !important;

}
.bio-graph-heading-2{padding:1px 0px;}
.chart-title, .chart-title:hover{color:#987B5D; background:#F1C530; text-transform:uppercase; font-size:22px;}

.header-margin{margin-top:1px !important;}
.cart-btn{
	border: medium none !important;
    padding: 0 !important;
}
.top-nav ul.top-menu > li > a.shop-login-reg{
	border: medium none !important;
    font-size: 14px;
    margin-top: 10px;
    padding: 0;
	color:#ff6c60;
}

.marg-0{margin:0 !important }
.cart-del-btn{font-size:18px;}

.min-height{min-height:800px !important;}
.separate{
	color:#000 !important;
}
.clr{clear:both !important;}
.full-name{font-size:16px;   }
.address{color:#fff;}

.checkout_order_inn{max-width:997px; margin:0 auto;}

.thanks{color:#16A9BC ; font-size:18px;}
.dot-border-right{border-right:1px dotted #ccc}
.dot-bot-right{border-bottom:1px dotted #ccc; padding:10px 0;}
.line-hgt{line-height:25px;}
.price{font-size:18px; font-weight:bold; line-height:15px;}
.product-title-cus{font-size:22px !important; }
.border-0{border:0 !important;}
.maroon-clr{color:#900}
.pro-img-list a.subImage{border:1px solid #ccc}

#addFeedback .form-group,
#addMeeting .form-group{
    margin-bottom: 17px !important;
    min-height: 70px;
}


.feedback_table .media-body{margin-bottom: 20px;}
.feedback_table tbody tr td {
  font-family: 'Open Sans', sans-serif;
  font-weight:400;
  color:#5f6062;
  font-size:13px;
  padding:10px 10px 10px 10px;
  border-bottom:1px solid #e0e0e0;
}
.feedback_table tbody tr:nth-child(2n) {
  background:#f0f3f5;
}
.feedback_table tbody tr:last-child td {
  border-bottom:none;
  &:first-child {
    @include border-bottom-left-radius(5px);
  }
  &:last-child {
    @include border-bottom-right-radius(5px);
  }
}
.feedback_table tbody:hover > tr td {
  @include opacity(0.5);
}
.feedback_table tbody:hover > tr:hover td {
  @include text-shadow(none);
  color:#2d2d2d;
  @include opacity(1.0);
}

.feedback_table .panel-default > .panel-heading{background-color: #A9D86E;}
.errormessage{color: #b94a48 ; text-align: right;}
.loader{display: none;}
.activity-desk .panel{width: 100%;}
.panel-heading{ display: inline-block;  width: 100%;}
.fc-sat,
.fc-sun {
	background: #F1F790;
}

.orange {
	background: #8271FF;
}

.fc-event-hori {
	border: none !important;
}

.fc-state-default {
	padding: 8px 12px 8px 12px;
	border-left-style: solid;
	border-right-style: solid;
	border-color: #ddd;
	border-width: 0 1px;
}

.scroll-height {
    height: auto !important;
}

.announcementdiv .paginationdiv a{ line-height: normal; font-size: 14px;   padding: 2px 5px; display: inline-block;
float: none;}
.announcementdiv .paginationdiv span{line-height: normal;font-size: 14px;    padding: 2px 5px; display: inline-block;}
.announcementdiv .paginationdiv span.current{color:#a9d86e; font-weight: bold; }
.announcementdiv .paginationdiv span.disabled{opacity: 0.8; cursor: not-allowed;}

.bootstrap-select.btn-group .dropdown-menu.inner{
	height: 200px;
	width:400px;
}
.form-signin .btn-login:hover{
	opacity:0.8;
}
#engines{
	width:130px;
}
#engines2,#engines10{
	width:130px;
}
.site-min-height{
	min-height:auto;
}

.tooltip_hrms {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip_hrms .tooltiptext {
    visibility: hidden;

    background-color: #aeb2b7;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: -200px;
		width: 300px;
}

.tooltip_hrms:hover .tooltiptext {
    visibility: visible;
}

.datepicker-days  .table-condensed{
	table-layout:inherit;
}

.dataTables_wrapper table.dataTable thead th, .dataTables_wrapper table.dataTable thead td {
    border-bottom: 1px solid #111111;
    font-size: 12px;
    font-weight: normal;
    padding: 10px 9px;
}

.leave_scroll{
  height:487px;
  overflow-y: scroll;
}


.logTable tbody {
    height: 150px;
    float: left;
    width: 100%;
    overflow: auto;
}
.logTable tr {
    float: left;
    width: 100%;
}
.logTable td {
    float: left;
    width: 33.33%;
}
.logTable th {
    float: left;
    width: 33.33%;
}

.select2.select2-container.select2-container--default{width: 100% !important}
.fc-button-today{display: none;}
/* @media only screen and (min-width:1200px){

} */
@media screen and (max-width:1575px) and (min-width:1200px){
	.leave_scroll{height:607px;}
}

@media screen and (max-width:950px){
	.checkout_order_inn{width:100%;}
}

/* Role edit permission 15-07-2017 */
input[type="checkbox"] {
    line-height: normal;
    margin: 4px 0 0;
		margin-right: 5px;
}
/* Role edit permission 15-07-2017 */
.userImage{
    display: block;
    width: 120px;
    margin: 0 auto;
}
